.container{
    height: 700px;
    /* width: 700px; */
    background-color: aquamarine;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
    row-gap: 25px;
    column-gap: 25px;
    /* justify-items: center; */
}
.item{
    /* height: 100px;
    width: 150px; */
    background-color: blueviolet;
    border: 1px solid black;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 5;
    height: 50px;
}
.item5{
    width: 50px;
}
.item9{
    width: 200px;
}
.item10{
    grid-column-start: 1;
    grid-column-end: 5;
    
}