.container{
    height: 500px;
    width: 100%;
    border: 1px solid black;
    display: grid;
    /* grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px ; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}
.item{
    background-color: aqua;
    border: 1px solid black;
    /* height: 150px;
    width: 150px; */
}
.item1{
    height: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
}
.footer{
    height: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 100px;
}